*{
	margin: 10px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0F2030;
}

#main-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-container{
	display: inline;
	text-align: center;
	border: 1px solid #B1B8B0;
	background-color: #54606B;
}

#user-icon{
	width: 40%;	
}

.error-message{
	color: red;
	visibility: hidden;
}