body{
	background-color: #FFF;
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
}

#fields-container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 2em;
	width: 100%;
}

#form-container{
	background: #DBDBDB;
	margin:50px auto;
	border: 1px solid #000;
	width: 400px;
}

input{
	text-align: center;
	width: 100%;
	height: 40px;
	margin: 10px auto;
	border: 1px solid #000;
}

.error-message{
	display: none;
	color: #EB494F;
	text-align: center;
}

#login-button{
	background: #000;
	border: none;
	color: #FFF;
}

#login-button:hover, #login-button:focus{
	background: #54606B;
}

#login-button:active{
	background: #0F2030;
	border: 3px solid #DBDBDB;
}

h2, h3{
	color: #000;
	text-align: center;
}

ul{
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: inline;
	text-align: center;
}
li{
	width: 100%;
	margin:0 auto;
	padding: 0 auto;
}
